body {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    margin: 0 -50px; 
}
.slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}
.slide img:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px pink;
}
